<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">股票数据</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <table class="table">
      <tr>
          <td>股票代码</td>
          <td>股票名称</td>
          <td>股票今天开始的价格</td>
          <td>股票现在的的价格</td>
          <td>股票今天最高的价格</td>
          <td>股票今天最低的价格</td>
          <td>股票昨天结束的价格</td>
          <td>股票上市的时间</td>
          <td>股票涨跌额</td>
          <td>爬虫爬取的时间</td>
      </tr>
      {% for da in data %}
      <tr >

            <td >{{ da.code }}</td>
            <td >{{ da.name }}</td>
            <td>{{ da.start_price }}</td>
            <td>{{ da.now_price }}</td>
            <td>{{ da.now_high_price }}</td>
            <td>{{ da.now_low_price }}</td>
            <td>{{ da.before_price }}</td>
            <td>{{ da.shangchi_date }}</td>
            <td>{{ da.low_high_price }}</td>
            <td>{{ da.now_time }}</td>

      </tr>
      {% endfor %}
  </table>
</div>


</body>
</html>