{% extends "base.html" %}

{% block title %}
  Course - {{ course.name }}
{% endblock %}

{% block body %}
  <div class="jumbotron">
    <p>{{ course.name }}</p>
      {{ course.description }}
  </div>
  <div class="row">
     <div class="col-md-8">
        <div class="list-group">
          {% for chapter in course.chapters %}
          <a class="list-group-item" href="{{ chapter.url }}">
            <!-- 标识视频播放的 icon -->
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
             <!-- 显示章节名称和视频的时长 -->
             <span>{{ chapter.name }} &nbsp; ({{ chapter.video_duration }})</span>

          </a>
          {% endfor %}
        </div>
     </div>
    <div class="col-md-4">
      <div class="jumbotron">
          <p>{{ course.author.username }}</p>
          <p>{{ course.author.job }}</p>
          <p>{{ course.author.email }}</p>
          <!--<p>{{ course.author.role }}</p>-->
      </div>
    </div>
  </div>
{% endblock %}


